<!-- Page Header -->
    <!--header class="masthead" style="background-image: url('../assets/laura-aziz-78175.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Macht mit!</h1>
              <span class="subheading">Guckt euch draußen um, macht Fotos und berichtet!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="about">
    </header-->

<body >


  <div class="parallax" id="about" data-stellar-background-ratio="0.5">
    <div class="abouttext">
    <h1>Macht mit!</h1>
    <h2>Guckt euch draußen um, macht Fotos und berichtet!</h2>
           
      <div class="gedicht">
      <p>Lob des Frühlings </p> 

      <p>Saatengrün, Veilchenduft, <br>
      Lerchenwirbel, Amselschlag, <br>
      Sonnenregen, linde Luft! <br>
      Wenn ich solche Worte singe, <br>
      braucht es dann noch große Dinge, <br>
      Dich zu preisen, Frühlingstag? <br>
     Ludwig Uhland</p>
     </div>

    <p>In Japan beobachten und kommentieren Medien und Publikum genau, wie die Kirschblüte (Sakura) voranschreitet. Die kurze Blütezeit ist dann Anlass für zahlreiche Picknicks und Feste. <br> 
    Gerade in Zeiten des Klimawandels wird viel über die aktuellen Wetterkapriolen gesprochen und es scheint mir interessant, das Voranschreiten der Jahreszeiten auch bei uns zu dokumentieren. <br> 
    Im Januar 2018 war der Frühling schon ausgebrochen und viel Regen sorgte für Überschwemmungen. Im Februar und März dann wechselten kurze Wärmephasen mit eiskalten Perioden ab. -15° und eisiger Wind oder Schnee und Temperaturen um den Gefrierpunkt. Dann wieder richtig milde Frühlingstage mit zweistelligen Plusgraden. <br> 
    Blühende Blumen in Frost und Schnee, Tiere, die sonst noch nicht so früh im Jahr wieder bei uns zu sehen sind. All das sollt ihr hier festhalten und miteinander teilen können. Geht raus, beobachtet, fotorafiert und schreibt, wie sich die Jahreszeit bei euch vor der Haustür entwickelt! Ich freue mich auf eure Beiträge! </p>

    <div class="gedicht">
    <p>Er ist’s </p>
    <p>Frühling lässt sein blaues Band <br>
    Wieder flattern durch die Lüfte; <br>
    Süße, wohlbekannte Düfte <br>
    Streifen ahnungsvoll das Land. <br>
    Veilchen träumen schon, <br>
    Wollen balde kommen. <br>
    Horch, von fern ein leiser Harfenton! <br>
    Frühling ja du bist’s!<br>
    Dich hab ich vernommen!<br>
    Eduard Mörike
    </p>
    </div>
    </div> 
    
  </div>
  
   <script src="js/jquery.stellar.min.js"> </script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap core JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
</body>