<!-- Page Header -->
    <header class="masthead" style="background-image: url('../assets/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading" id="uberschrift">
              <h1>Kontakt</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
<body>
  <p>Alle, die hier mitmachen sollen, wissen, wie sie mich kontaktieren können. Wenn ihr euch einloggt über den Button anmelden, könnt ihr auch Beiträge erstellen oder kommentieren. 
  Findet mich sonst über LinkedIn oder Xing!</p>
<p>Sucht nach Jutta Lindekugel</p>
</body>